main {
    padding: 2rem;
  }

  .grid-index-container {
    display: grid;
    grid-template-columns: 1fr 250px;
  }
  
  .grid-index-container > header{
    grid-column-start: 1;
    grid-column-end: -1;
  }

  .grid-index-container > footer{
    grid-column-start: 1;
    grid-column-end: -1;
  }

  /* Panel de bienvenida */
  .welcome {
    background-color: var(--color-light);
    padding: 2rem;
    border-radius: 10px;
    margin-bottom: 2rem;
    color: var(--color-dark);
  }
  
  .welcome h1 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
  }
  
  /* Panel Ofertas Especiales */
  .ofertas-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
  }
  
  .ofertas h2 {
    margin-bottom: 1rem;
    color: var(--color-black);
  }
  
  /* Sidebar */
  .sidebar {
    background-color: var(--color-light);
    padding: 2rem;
    color: var(--color-dark);
  }
  
  .sidebar h2 {
    margin-bottom: 1rem;
  }
  
  .sidebar ul {
    list-style-type: none;
  }
  
  .sidebar ul li {
    margin-bottom: 0.5rem;
  }
  
  section.ofertas {
    margin-top: 2rem;
  }
  
  @media (max-width: 1000px) and (min-width: 600px) {
    .grid-index-container{
      grid-template-columns: 1fr;
    }

    .ofertas-grid {
      grid-template-columns: repeat(4,1fr);
    }

    .ofertas-grid >:nth-child(1){
      grid-column-start:1;
      grid-column-end:3;
    }

    .ofertas-grid >:nth-child(2){
      grid-column-start:3;
      grid-column-end:5;
    }

    .ofertas-grid >:nth-child(3){
      grid-column-start:2;
      grid-column-end:4;
    }
  }

  @media (max-width: 600px) {
    .grid-index-container{
      grid-template-columns: 1fr;
    }

    .ofertas-grid {
      grid-template-columns: 1fr;
    }
  }