.grid-models-container {
  display: grid;
  grid-template-columns: 300px 1fr;
}

.grid-models-container > header{
  grid-column-start: 1;
  grid-column-end: -1;
}

.grid-models-container > footer{
  grid-column-start: 1;
  grid-column-end: -1;
}

.filter-sidebar {
  background-color: var(--color-off-white);
  padding: 2rem;
  color: var(--color-dark);
}

.filter-sidebar h2 {
  margin-bottom: 1rem;
}

.filter-sidebar form {
  display: grid;
  row-gap: 20px;
}

.filter-sidebar form label {
  font-weight: bold;
}

.filter-sidebar form input,
.filter-sidebar form select {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid var(--color-medium);
  border-radius: 5px;
  background-color: var(--color-white);
  color: var(--color-dark);
}

.filter-sidebar button {
  background-color: var(--color-dark);
  color: var(--color-white);
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.filter-sidebar button:hover {
  background-color: var(--color-medium);
}

.models-grid {
  padding: 2rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  column-gap: 20px;
  row-gap: 20px;
}

.config-button {
  display: inline-block;
  background-color: var(--color-dark);
  color: var(--color-white);
  text-decoration: none;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  margin-top: 1rem;
  transition: background-color 0.3s;
}

.config-button:hover {
  background-color: var(--color-medium);
}

@media (max-width: 900px) and (min-width: 600px) {
  .grid-models-container{
    grid-template-columns: 1fr;
  }

  .filter-sidebar form {
    grid-template-columns: auto 1fr;
    column-gap: 20px;
  }
  
  .filter-sidebar button {
    grid-column-start: 1;
    grid-column-end: -1;
    justify-self: center;
  }

}

@media (max-width: 600px) {
  .grid-models-container{
    grid-template-columns: 1fr;
  }
}
